<ion-header>
    <ion-navbar>
        <ion-title>Recuperar contraseña</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="viewRestorePassword">
        <ion-card>
            <ion-card-content>
                Envie su direccion de correo electronico y le reenviaremos un codigo para restablecer su password
            </ion-card-content>
        </ion-card>
        <ion-item>
            <ion-label floating>Correo electronico</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>
        <br>
        <button ion-button full color="secondary" (click)="restorePassword()">Restaurar password</button>
        <br>
        <button ion-button full (click)="clk_viewVerify()">Ya tengo mi codigo</button>
    </div>
    <div *ngIf="viewVerify">
        <ion-card>
            <ion-card-content>
                Paso 1 - Verificacion del codigo
            </ion-card-content>
        </ion-card>
        <ion-item>
            <ion-label floating>Correo electronico</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Codigo de verificacion</ion-label>
            <ion-input type="text" [(ngModel)]="code"></ion-input>
        </ion-item>
        <br>
        <button ion-button full color="secondary" (click)="verifyRestoreCode()">Restaurar password</button>
        <br>
        <button ion-button full (click)="clk_viewRestore()">Generar un nuevo codigo</button>
    </div>
    <div *ngIf="viewUpdatePass">
        <ion-card>
            <ion-card-content>
                Paso 2 - Nuevo password
            </ion-card-content>
        </ion-card>
        <ion-item>
            <ion-label floating>Nueva contraseña</ion-label>
            <ion-input type="text" [(ngModel)]="newPassword"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Confirmar nueva contraseña</ion-label>
            <ion-input type="text" [(ngModel)]="newPasswordConfirm"></ion-input>
        </ion-item>
        <br>
        <button ion-button full color="secondary" (click)="updatePassword()">Actualizar</button>
        <br>
        <button ion-button full (click)="clk_viewRestore()">Generar un nuevo codigo</button>
    </div>
</ion-content>